.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid var(--navbar-border);
  transition: background 0.3s ease;
  backdrop-filter: var(--navbar-backdrop-filter);
  background-color: #2b282d;
}

.main {
  background: var(--navbar-bg) !important;
}

.navbar-inner {
  margin: 0 auto;
  height: 70px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 28px;
}

.nav-left {
  display: flex;
  align-items: center;
  padding: 0 12px;
  gap: 2rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-menu a,
.nav-menu button {
  background: none;
  border: none;
  text-decoration: none;
  color: var(--color-text-main);;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s;
}

.nav-menu a:hover,
.nav-menu button:hover {
  color: var(--color-primary);
}

.nav-menu a.active {
  color: var(--color-text-active);
  font-weight: 600;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.lang-dropdown button {
  background: none;
  border: none;
  color: var(--color-text-main);
  cursor: pointer;
  font-weight: 500;
}